<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Caro XO Game</title>
  <link rel="stylesheet" href="../public/css/caro.css">
</head>
<body>
  <div id="board" class="board"></div>
  <div id="status">Player X's turn</div>
  <button id="restartBtn">Chơi lại</button>
  <p id="msg"></p>
  <p><a href="/users/profile">Quay lại</a></p>
  <script src="../public/js/caro.js"></script>
</html>