<!DOCTYPE html>
<html>
<head>
  <title>Line 98</title>
  <link rel="stylesheet" href="../public/css/line98.css">
</head>
<body>
  <h2>Line 98 - Demo</h2>
  <div id="board" class="board"></div>
  <button onclick="restart()">Chơi lại</button>
  <button class="help-btn" onclick="helpMove()">Trợ giúp</button>
  <p id="msg"></p>
  <p><a href="/users/profile">Quay lại</a></p>
  <script src="../public/js/line98.js"></script>
</body>
</html>